body, html {
	margin: 0;
	padding: 0;
}

#map {
	width: 55%;
	height: 350px;
	margin: 0 auto;
/*	margin-right: 325px;*/
}

.rand
{
	width: 45%;
	height: 350px;
	margin: 0 auto;
}

/*h3.rand
{
	margin-left:60%;
	float: none;
}*/

button.rand
{
	float: none;
}

.form-horizontal
{
	margin-left:25px;
}

.control-label
{
/*	margin-left: 25px;*/
}

.form-control
{
	margin-left:5%;
	width: 90%;
}