body, html {
	margin: 0;
	padding: 0;
	color: black;
}
.container { position:relative; padding:0 0 0 55px; }
#sidebar {
    position:absolute;
    top:0; bottom:0; left:0;
    width:50px;
    background:#000;
}

#header { border:1px solid #000; width:100px; height:20px; 
    margin:0 0 5px 0;
}
#content { border:1px solid #000; width:100px; height:50px;
    margin:5px 0 5px 0;
}
#footer { border:1px solid #000; width:100px; height:20px;
    margin:5px 0 0 0;
}

#map {
	width: 55%;
	height: 350px;
	margin: 0 auto;
	color: black;
/*	margin-right: 325px;*/
}
#output {
	width: 400px;
	height: 100px;
	float: right;
}
.ourservices {
	margin-bottom: 20px;
}
.about{
	padding-bottom: 25px;
	padding-top: 0px;
}
.rand
{
	width: 45%;
	height: 350px;
	margin: 0 auto;
}
footer {
	padding: 40px 0;
}
/*h3.rand
{
	margin-left:60%;
	float: none;
}*/

button.rand
{
	float: none;
}

.form-horizontal
{
	margin-left:25px;
}

.control-label
{
/*	margin-left: 25px;*/
}

.form-control
{
	margin-left:5%;
	width: 90%;
}

/*=======================================
    STATS SECTION STYLES
==================================================*/
.stats-div {
    text-align:center;
    width: 100%;
    min-height: 100px;
    padding: 30px 20px 30px 20px;
    color:#fff;
}

.stats-div > h3 {
    font-size:60px;
    font-weight:900;
}

.stats {
  margin-right: -15px;
  margin-left: -15px;
  background-color: #337ab7;
}
